<template>
<v-layout
    column
    align-center
    @keydown.enter.prevent
    @keyup.enter="createMessage(nameuser, messageuser)"
  >
    <v-snackbar
      :timeout="6000"
      multi-line
      top
      v-model="snackbar"
      color="error"
    >
      {{ errorMessage }}
      <v-btn color="secondary" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
    <h2 style="margin-top: 10px; margin-bottom: 10px;">UPchieve Chatroom  </h2>
    <v-container>
      <v-layout row>
        <v-flex xs12 md8 class="elevated white pa-4 align-end">
          <v-layout
            v-for="message in messages"
            :key="message.timestamp"
            row
            style="padding-bottom: 5px;" 
          >
            <v-flex xs12>
              <v-chip
                v-if="message.uuid === uuid"
                text-color="white"
                color="primary"
                class="float-right"
                label>
                  {{message.text}}
              </v-chip>

              <v-chip
                v-if="message.uuid !== uuid"
                text-color="primary"
                outlined
                color="primary"
                class="float-left"
                label>
                  {{message.text}}
              </v-chip>
            </v-flex>
          </v-layout>
          
          <v-text-field
            label="New Message"
            v-model="messageuser"
            class="mt-12"
          >
          </v-text-field>
          <v-btn
            @click="createMessage(nameuser, messageuser)" 
            @keydown.enter.prevent
            @keyup.enter="createMessage(nameuser, messageuser)"
          >
            Send
          </v-btn>
        </v-flex>
        <v-flex xs12 md4 class="elevated white pa-4 align-end" >
          <div style="border-style: solid; border-width: 3px; border-left-width: 10px; border-right-width: 10px; border-color: #18d4ac
; padding-left: 10px; padding-right: 10px;">
          <h3>Please Enter Your Name:</h3>
          <v-text-field
            label="Name (First, Last)"
            v-model="nameuser"
            class="mt-12"
          >
          </v-text-field>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-layout>

</template>

<script>
import { v4 as uuidv4 } from 'uuid'
import * as axios from 'axios'

export default {
  data: () => ({
    snackbar: false,
    nameuser: "",
    messageuser: "",
    messages: [],
    totalChatHeight: 0,
    connection: {},
    errorMessage: "",
    uuid: "",
    backendHealthy: false
  }),

  created() {
    // Does not have a this.connection initializer 
    this.uuid = uuidv4()

    this.checkBackend()
    // When the connection is successfully opened, the socket.onopen will be executed 
    this.$socket.onopen = function(event) {
      console.log(event)
      console.log('successfully connected to the websocket server')
    }

    // Whenever the websocket conenction receives a message, we will handle the message in here
    this.$socket.onmessage = (message) => {
      const data = JSON.parse(message.data)
      data.timestamp = Date.now()
      this.messages.push(data)
    }
  },

  methods: {
    createMessage: function(n, t) {
      // Want to take both strings (name and message), combine them, and create a new variable that includes the entire message
      const message = JSON.stringify({
        t // t for text
      })
      const userName = JSON.stringify({
        n // n for name
      })
      
      // The fullmessage's username and message is sending a key-value pair w/ "name": ---, "message": ---
      // We can either take the substring or grab the value of the key-value pair, where we'd edit in "for message in messages" in line 24
      let fullmessage = userName.substring(6, userName.length - 2) + ": " + message.substring(6, message.length - 2)
      this.sendMessage(fullmessage)
      this.messageuser = "" // Clearing the texdtfield once you enter a message
    },
    sendMessage: function(text) {
      const message = JSON.stringify({
        text,
        uuid: this.uuid
      })
      this.$socket.send(message) // A predefined function that sends the message over the websocket connections
    },
    checkBackend: function() {
      axios.get('http://localhost:3000/health')
        .then((res) => {
          if (res.status === 200 && res.data.ok === true) {
            console.log('backend is healthy')
            this.backendHealthy = true
            return
          } else {
            console.log(`backend check failed, response code was ${res.status}, data was ${res.data}`)
            setTimeout(() => this.checkBackend(), 10000)
          }
        })
        .catch((err) => {
          console.log(err)
          console.log("backend not healthy yet, retrying")
          setTimeout(() => this.checkBackend(), 10000)
        })
    }
  }
}
</script>
